* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px 0;
    
}

.main__title {
    font-size: 36px;
    line-height: 1;
    text-align: center;
}

.add__form-wrapper {
    overflow: hidden;
    height: 0;
}

.add__form-wrapper_active {
    height: auto;
}

.btn__add {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 10;
}

.add__form {
    padding: 10px 5px;
    border: 2px solid #6c757d;
    border-top: none;
    border-radius: .3rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-101%);
}

.add__form_active {
    transform: none;
}

th {
    cursor: pointer;
}

.filter__form {
    justify-content: space-around;
}

